body {
  margin: 0;
}

nav {
  height: 50%;
  width: 50%;
  margin: auto;
  padding: 30px;
}

ul {
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
  display: inline-block;
}

li {
  color: grey;
  float: left;
  text-align: center;
  font-size: 25px;
  margin: 30px;
  width: calc(25% - 60px);
}

header {
  background-color: black;
  height: 150px;
  width: 100%;
}

main {
  padding-top: 20px;
  max-width: 900px;
  margin: 0 auto;
}

#hero {
  width: 100%;
  margin: 100px auto;
  margin-bottom: 0;
}

div {
  width: 100%;
}

.home-content {
  float: left;
  width: 320px;
  height: 200px;
  margin: 40px calc(25% - 160px);
}

p.home-content {
  overflow: auto;
}