/*Header*/

body{
  font-family: Helvetica;
}

header{
  background: #444;
  height: 100px;
}

nav{
  width:960px;
  margin: 0px auto;
}

header img{
  float: left;
  margin-top: 15px;
  margin-right: 30px;
}

header ul li {
display: inline-block;
margin-top: 40px;
margin-right: 75px;
}

a {
  text-decoration: none;
  color: #fff;
}

/*Main - Sub banners*/

main{
  width: 960px;
  margin: 30px auto;
}

main ul li{
  list-style: none;
  float:left;
  margin: 30px 30px 30px 0px;
}

main ul li:last-child{
  margin-right: 0px;
}

/*Featured Section*/ 

section img{
  float: left;
}

section div{
  width: calc(50% - 30px);
  float: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

h2{
  font-size: 20px;
  margin-bottom: 10px;
}

section div p{
  height: 320px;
  overflow: auto;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
}

button{
  border: none;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 10px;
  transition: 350ms;
  cursor: pointer;
}

button:hover{
  background: yellow;
}

/*Footer */
footer{
  clear: both;
  background-color: #444;
  height: 150px;
}