/* TODO: Make it awesome */
html{
    height: 100vh;
}
header{
    background-color: bisque;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    text-align: center;

}
nav{
    width: 75%;
    display: block;
}
nav ul li{
    display: inline-block;
    text-align: center;
}
body{
    height: 100vh;
    background-color: darksalmon;
}
main{
   
    background-color: darksalmon;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: bisque;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}